<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      To do app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">To do app</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
  <ion-list>
    <ion-card *ngFor="let todo of todos" [routerLink]="['/detail',todo.id]">
    <ion-item >
      <ion-label>
        <h1>{{todo.title}}</h1>
        <p>{{todo.place}}</p>
      </ion-label>
    </ion-item>
  </ion-card>
  </ion-list>
  
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/add']">
      <ion-icon name="add-outline" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
